<h1>About</h1>
<p>
	This app was built in Tal Safran's ruby on rials class on   <%= link_to "Skillshare", "http://www.Skillshare.com" %> by Tim Haskins at <%= link_to "www.timjhaskins.com", "http://www.timjhaskins.com"%>
</p>
